/* Header General Styling */
body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: #b7551d;
}

.nav-bar ul li {
    font-family: Georgia, serif;
}

.header {
    position: sticky;
    /* Sticky pozisyon */
    top: 0;
    /* Üstte sabitler */
    width: 100%;
    /* Genişliği %100 yapar */
    background-color: white;
    /* Arka plan rengi */
    z-index: 1000;
    /* Diğer içeriklerin üstünde görünmesi için */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Gölgelendirme efekti */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 70px;
}

/* Menü Butonu */
.menu-btn {
    background-color: #8a3c10;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    display: block;
    /* Menü butonu her boyutta görünsün */
}

.menu-btn:hover {
    background-color: #b7551d;
}

/* Menü butonunun aktif durumdaki tasarımı */
.menu-btn:active {
    transform: scale(1.02);
}

/* Menüyü Küçük Ekranlarda Gösterme */
@media screen and (max-width: 768px) {
    .menu-button {
        display: block;
        /* Menü tuşu her boyutta görünsün */
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

}

.nav-bar {
    display: none;
    /* Mobilde açılır hale getir */
}

.nav-bar.active {
    display: flex;
    flex-direction: column;
    background-color: #8a3c10;
    padding: 10px;
}


/* Sidebar Menu */
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #8a3c10;
    color: white;
    transition: left 0.3s ease;
    padding: 20px;
    z-index: 1000;
}

.sidebar-logo {
    text-align: left;
    /* Metni yatayda ortalar */
    margin-bottom: 30px;
    /* Metin ile kategoriler arasında boşluk bırakıyoruz */
    
}

.sidebar-logo h1 {
    font-size: 45px;
    /* Başlık boyutunu ayarlıyoruz, ihtiyaç duyduğunuz boyutta değiştirebilirsiniz */
    font-weight: bold;
    /* Metni kalın yapıyoruz */
    color: white;
    /* Metnin rengini belirliyoruz, ihtiyaca göre değiştirebilirsiniz */
    margin: 0;
    /* Başlık altındaki boşluğu kaldırıyoruz */
    padding: 0;
    /* Başlık etrafındaki ekstra boşluğu kaldırıyoruz */
    
}

.sidebar-logo p {
    font-size: 46px;
    /* Alt metin boyutunu ayarlıyoruz */
    color: #666;
    /* Alt metin rengini belirliyoruz */
    margin: 5px 0 0;
    /* Alt metin ile başlık arasında biraz boşluk bırakıyoruz */
    
}

.sidebar.active {
    left: 0;
}

/* Close Button */
.sidebar .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    /* Mutlaka eklenmeli */
    top: 10px;
    /* Sidebar'ın tepesine konumlandır */
    right: 30px;
    /* Sağ kenara yakınlaştır */
}


.sidebar ul {
    font-weight: bold;
    font-size: 17;
    list-style: none;
    padding: 0;
    /* Alt çizgi */
}

.sidebar ul li {
    margin: 15px 0;
    border-bottom: 2px solid white;
}

/* Alt kategorilerin sağa kaydırılması */
.sidebar ul .subcategory {
    list-style-type: none;
    padding-left: 20px;
    /* Alt kategorileri biraz sağa kaydır */
    border-bottom: 2px solid white;
}

.sidebar ul .subcategory li {

    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

/* Alt kategoriler tıklandığında daha dikkat çekici olsun */
.sidebar ul .subcategory li a {
    color: white;
    text-decoration: none;
}

.sidebar ul .subcategory li a:hover {
    text-decoration: underline;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #b7551d;
}

/* Search Bar Styling */
.search-bar {
    display: flex;
    flex: 1;
    max-width: 400px;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 10px;
    background-color: #8a3c10;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-bar button i {
    color: white;
}

/* Header Icons Styling */
.header-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-icons a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #8a3c10;
    font-weight: bold;
    border: 2px solid #8a3c10;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header-icons a:hover {
    background-color: #8a3c10;
    color: white;
}

.header-icons .menu-btn {
    display: block;
    /* Menü tuşu her boyutta görünsün */
}

.header-icons .icon {
    text-align: center;
    font-size: 12px;
    color: #333;
}

.header-icons .icon i {
    font-size: 18px;
    margin-bottom: 5px;
}

/* Mobil tasarım */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        /* Elemanları dikey hizalar */
        align-items: center;
        /* Ortalar */
    }

    .header-icons {
        width: 100%;
        /* Tam genişlikte */
        justify-content: space-between;
        /* Elemanları eşit dağıt */
        padding: 0 10px;
        /* Yatay boşluk */
    }

    .menu-btn span {
        display: none;
        /* Menü yazısını gizle */
    }

    .search-bar {
        margin-top: 10px;
        padding: 0 10px;
        /* Kenarlardan içeri çek */
    }

    .search-bar input {
        width: 100%;
    }

    .search-bar button {
        width: auto;
    }
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-bar ul li {
    margin: 0;
}

.nav-bar ul li a {
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.nav-bar ul li a:hover {
    background-color: #b7551d;
}


.nav-bar li {
    font-size: 14px;
}

.nav-bar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-bar a:hover {
    color: #5c4033;
}

/* Hero Section */
.hero {
    background: #ffffff;
    color: #8a3c10;
    text-align: center;
    padding: 5rem 0;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.hero .btn {
    background: #8a3c10;
    color: white;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.hero .btn:hover {
    background: #b7551d;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
    max-width: 1190px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

.slide {
    min-width: 100%;
    height: 500px;
    object-fit: cover;
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Resmin taşma yapmadan tamamen görünmesini sağlar */
}


/* Mobil uyum için */
@media (max-width: 768px) {
    .slider {
        height: 300px;
        justify-content: center;
        align-items: center;
        /* Daha küçük ekranlar için slider yüksekliğini küçültüyoruz */
    }

    .slide {
        height: 300px;
        justify-content: center;
        align-items: center;
        /* Slider yüksekliğine uyacak şekilde ayarlanıyor */
    }


}

/* Remove the arrows */
.prev-btn,
.next-btn {
    display: none;
}

/* Dots stay visible */
.dots {
    position: absolute;
    bottom: 10px;
    /* Slider'ın altına yerleştirildi */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    /* Dotlar arasındaki boşluk */
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #007bff;
}

/* Featured Products */
.featured-products {
    padding: 3rem 0;
    background-color: #fff;
    text-align: center;
}


.featured-products h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.featured-products .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.featured-products .product-card {
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
}

.featured-products .product-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.featured-products .product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.featured-products .product-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

.featured-products .product-card p {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 1rem;
}

.featured-products .btn {
    background-color: #8a3c10;
    color: white;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
}

.featured-products .btn:hover {
    background-color: #b7551d;
}

/* Campaign Section */
.campaigns {
    padding: 3rem 0;
    background-color: #f9f9f9;
    text-align: center;
}

.campaign-banner {
    padding: 2rem;
    background: #8a3c10;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.campaign-banner h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.campaign-banner p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

/* Contact Section */
.contact {
    padding: 3rem 0;
    background-color: #fff;
    text-align: center;
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #8a3c10;
}

.contact p {
    font-size: 1rem;
    color: #555;
}

#map iframe {
    margin-top: 20px;
    border: 2px solid #8a3c10;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #8a3c10;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
}

/* Product Detail */
.product-detail {
    padding: 3rem 0;
    background-color: #f9f9f9;
}

.product-detail .product-info {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.product-detail .price {
    font-size: 1.5rem;
    color: #8a3c10;
    margin-bottom: 1rem;
}

.product-detail .quantity-container {
    margin-bottom: 1.5rem;
}

.product-detail #quantity {
    padding: 0.5rem;
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Checkout Button */
#checkout-btn {
    background-color: #8a3c10;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

#checkout-btn:hover {
    background-color: #b7551d;
}

.item-image {
    width: 100px;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.item-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-actions button {
    background-color: #8a3c10;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.item-actions button:hover {
    background-color: #b7551d;
    transform: scale(1.05);
}

.item-actions button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity {
    font-size: 1.2em;
    margin: 0 10px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .featured-products .products-list {
        grid-template-columns: 1fr 1fr;
    }

    .product-detail {
        padding: 2rem 0;
    }

    .sidebar {
        width: 200px;
    }

    .sidebar .close-btn {
        position: fixed;
        /* Ekranda sabit konumlandır */
        top: 10px;
        /* Üstten 10px mesafe */
        right: 10px;
        /* Sağdan 10px mesafe */
    }


    .menu-button {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .featured-products .products-list {
        grid-template-columns: 1fr;
    }

    .product-detail {
        padding: 1rem 0;
    }

    .sidebar {
        width: 50%;
    }
}

/* Genel Mobil Ayarları */
@media screen and (max-width: 768px) {

    /* Header Düzenlemesi */
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        max-width: 150px;
        margin-bottom: 10px;
    }

    .search-bar {
        width: 90%;
        margin-bottom: 10px;
    }

    .header-icons {
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }

    .slider {
        position: relative;
        text-align: center;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
    }

    .slider-controls {
        position: absolute;
        top: 50%;
        left: 5%;
        right: 5%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* Butonları slider kenarlarına yerleştir */
        transform: translateY(-50%);
    }

    .slider .prev-btn,
    .slider .next-btn {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 2rem;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        z-index: 2;
    }
}

/* Hero Section ile Featured Products Arası Boşluk */
@media screen and (max-width: 768px) {
    .hero {
        padding: 3rem 0;
        /* Hero bölümünün üst ve alt padding'ini azalt */
    }

    .featured-products {
        padding: 2rem 0;
        /* Öne çıkan ürünler arasındaki boşluğu azalt */
    }

}

/* Ürünler ve Genel Boşluklar */
.product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0 10px;
}

.product-card {
    margin: 0 auto;
}

/* Sepet ve Footer */
.cart-title {
    font-size: 1.5rem;
    text-align: center;
}

footer p {
    font-size: 0.9rem;
    text-align: center;
}




body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Genel Sepet Stili */
#cart {
    padding: 1rem;
    background-color: #f9f9f9;
}

#cart h2 {
    text-align: center;
    color: #8a3c10;
    font-size: 2rem;
}

#cart-items {
    margin-bottom: 2rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ürün Bilgisi */
.cart-item .item-info {
    display: flex;
    gap: 15px;
    flex: 1;
}

.cart-item .item-info img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}



/* Butonlar */
button {
    padding: 10px 15px;
    background-color: #8a3c10;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #b7551d;
}

#checkout-btn {
    background-color: #8a3c10;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkout-btn:hover {
    background-color: #b7551d;
}

/* Sepetim sayfası için responsive düzenlemeler */
@media screen and (max-width: 768px) {

    /* Mobil uyumlu ürün detayları */
    .cart-item .item-info .item-details {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .cart-item .item-details {
        flex: 1;
        text-align: left;
    }

    .cart-item .item-details h4 {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        color: #333;
    }

    .cart-item .item-details p {
        margin: 5px 0;
        color: #666;
    }

    .cart-item .item-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;

    }

    .cart-item .item-actions button {
        background-color: #8a3c10;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .cart-item .item-actions button:hover {
        background-color: #b7551d;
    }

    .coupon-section {
        margin: 20px 0;
    }

    .coupon-section input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
        margin-right: 10px;
    }

    .coupon-section button {
        padding: 10px 15px;
        background-color: #8a3c10;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .coupon-section button:hover {
        background-color: #b7551d;
    }

    /* Mobil uyumlu Sepet Özeti */
    #cart-summary {
        margin-top: 1.5rem;
        text-align: center;
    }

    #cart-summary h3 {
        font-size: 1.1rem;
    }

    #cart-items {
        padding: 0 10px;
    }

    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item .item-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .cart-item .item-info img {
        width: 250px;
        height: 180px;
    }

    .cart-item .item-actions {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    #cart-summary {
        font-size: 1rem;
    }

    button {
        width: 100%;
        font-size: 1.1rem;
        padding: 12px;
    }

    .coupon-section input {
        width: 90%;
        margin-right: 10px;
    }

    .coupon-section button {
        width: 45%;
    }

    #map iframe {
        width: 300px;
        /* Küçük ekranlar için yüksekliği azaltır */
    }

}

/* Daha küçük ekranlar için ek düzenlemeler */
@media screen and (max-width: 480px) {
    .cart-item .item-info img {
        width: 60px;
        height: 60px;
    }

    button {
        padding: 10px;
    }
}